[submodule "the-pattern-platform"]
	path = the-pattern-platform
	url = https://github.com/applied-knowledge-systems/the-pattern-platform.git
[submodule "the-pattern-ui"]
	path = the-pattern-ui
	url = https://github.com/applied-knowledge-systems/the-pattern-ui.git
[submodule "the-pattern-api"]
	path = the-pattern-api
	url = https://github.com/applied-knowledge-systems/the-pattern-api.git
[submodule "the-pattern-automata"]
	path = the-pattern-automata
	url = https://github.com/applied-knowledge-systems/the-pattern-automata.git
[submodule "the-pattern-bart-summary"]
	path = the-pattern-bart-summary
	url = https://github.com/applied-knowledge-systems/the-pattern-bart-summary.git
