<form class="form-inline search-form" [ngClass]="{'big': mode === 'big', 'small':mode === 'small' }" (keydown.enter)="search()" [formGroup]="searchForm">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="search for medical knowledge" aria-label="search"
            aria-describedby="search-icon" formControlName='term'>
        <div class="input-group-prepend" (click)="search()">
            <span class="input-group-text" id="search-icon">
                <i class="fa fa-search"></i> <span>Search</span>
            </span>
        </div>
        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Sample Queries</button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="dropdown-menu-right">
              <button ngbDropdownItem *ngFor="let sample of samples" (click)="initSearch(sample)">{{ sample }}</button>
            </div>
        </div>
    </div>
</form>